/* Hero */
.home-hero-img {
  background-image: url(https://lereacteur-vinted.netlify.app/static/media/hero.09bfd0f9.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .home-hero-img-card {
    height: 220px;
    width: 360px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    span {
      line-height: 40px;
    }

    button {
      width: 190px;
      height: 50px;
      margin-top: 30px;
    }
  }
}

.home-offers-wrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;

  .home-offers-card {
    width: calc(100% / 5);
    height: 100%;
    padding: 10px 10px;
    margin-bottom: 0.5rem;

    .offer-card-userbox {
      display: flex;
      height: 40px;
      align-items: center;
      padding: 5px;
      
      p {
        font-size: 14px;
        padding-left: 3px;
        margin-bottom: 3px;
      }

      .avatar {
      height: 25px;
      width: 25px;
      min-height: none;
      object-fit: cover;
      border-radius: 50%;
      }
    }

    .offer-description{
      font-size: 12px;
      color: #999;
      margin-top: 5px;

      p {
        margin-bottom: 3px;
      }
    }

    .product-img {
      height: 260px;
      width: 100%;
      object-fit: cover;
      border: solid honeydew 1px;
      margin-bottom: 0.70rem;
    }
  }
}
