.offer-body {
  background-color: #eaedee;
  height: 700px;
  width: 100vw;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
.offer-wrapper {
  width: 100%;
  height: 700px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  img {
    height: 100%;
    max-width: 60%;
    min-width: 350px;
    object-fit: cover;
    //   margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
}

.offer-details-wrapper {
  width: 40%;
  background-color: white;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .offer-details-row-1 {
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .offer-price {
      font-size: 24px;
      line-height: 32px;
      color: #111;
    }
    .offer-details-details {
      .offer-details-list {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 14px;
        .detail-name {
          color: #999;
          width: 50%;
          margin-top: 3px;
          margin-bottom: 3px;
        }
        .detail-desc {
          width: 50%;
          color: #666;
          font-weight: 700;
        }
      }
    }
    .divider {
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(17, 17, 17, 0.1);
    }
  }
  .offer-details-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% / 3);
    .offer-name {
      font-weight: 700;
      padding-top: 5%;
    }
    .offer-details-avatar {
      display: flex;
      align-items: center;

      .user-avatar {
        height: 50px;
        width: 50px;
        min-width: 50px;
        min-height: none;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .offer-details-row-3 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      height: 40px;
      width: 100%;
      font-weight: 400;
      font-size: 1rem;
    }

    button:hover {
      font-weight: 600;
    }
  }
}

.hide {
  display: none;
}
