.publish-wrapper {
  background-color: #eaedee;

  .publish-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    *:not(span) {
      margin-bottom: 10px;
    }

    .img-upld-wrapper {
      height: 250px;
      //   border: black 1px solid;
      background-color: white;
      box-shadow: 0 0 2px grey;
      padding: 24px;
      margin: 20px 0;
    }

    .img-upld-container {
      border: dotted grey 1px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        padding: 10px;
        height: 55px;
        border: #2cb1ba solid 1px;
        color: #2cb1ba;
        border-radius: 5px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span:nth-child(1) {
          margin-right: 15px;
          height: 100%;
          display: flex;
        }
        span:nth-child(2) {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      label:hover {
        cursor: pointer;
        color: white;
        background-color: #2cb1ba;
        font-weight: 600;
      }
    }

    .title-desc-wrapper {
      height: 230px;
      background-color: white;
      box-shadow: 0 0 2px grey;

      .publish-details-row-1 {
        padding: 24px;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid grey 1px;

        span {
          width: 50%;
        }
        input {
          width: 50%;
          height: 100%;
          border: none;
          border-bottom: 1px grey solid;
        }
      }
      .publish-details-row-2 {
        padding: 24px;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          width: 50%;
        }
        input {
          width: 50%;
          height: 100%;
          border: none;
          border-bottom: 1px grey solid;
        }
      }
    }
  }
}

.publish-wrapper-3 {
  background-color: white;
  margin: 10px 0 10px 0;
  box-shadow: 0 0 2px grey;

  .publish-details-box:not(:last-child) {
    height: 90px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px grey solid;
    span {
      width: 50%;
    }
    input {
      width: 50%;
      height: 100%;

      border: none;
      border-bottom: 1px grey solid;
    }
  }
  .publish-details-box:last-child {
    height: 90px;
    padding: 24px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px grey solid;
    margin: 0;
    span {
      width: 50%;
    }
    input {
      width: 50%;
      height: 100%;

      border: none;
      border-bottom: 1px grey solid;
    }
  }
}

.publish-wrapper-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: white;
  box-shadow: 0 0 2px grey;
  height: 150px;

  .publish-right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    input {
      border: none;
      border-bottom: 1px grey solid;
    }
  }
}

.btn-div {
  display: flex;
  justify-content: flex-end;

  input {
    margin-top: 10px;
    width: 15%;
    border: none;
    border-radius: 2px;
    padding: 10px;
  }
  input:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
